<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-dark">
<div th:replace="fragments :: navbar"></div>

<form method="post" class="form-dark">
    <div class="form-group">
        <label th:for="plantName">Plant Name</label>
        <input class="form-control" name="plantName" th:value="${plantName}" />
        <span th:errors="${plantName}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="plantLocation">Plant Location</label>
        <input class="form-control" name="plantLocation" th:value="${plantLocation}" />
        <span th:errors="${plantLocation}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="plantDescription">Plant Description</label>
        <input class="form-control" name="plantDescription" th:value="${plantDescription}" />
        <span th:errors="${plantDescription}" class="error"></span>
    </div>

    <input type="submit" value="Add New Plant" />
</form>

</body>
</html>