<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-dark">
<div th:replace="fragments :: navbar"></div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="border border-secondary rounded">
            <div class="row m-2">
                <div class="col-lg-9">
                    <h5 class="text-light" th:text="${plant.plantName}"></h5>
                    <p class="text-muted" th:text="${plant.plantLocation}"></p>
                    <p class="text-muted" th:text="${plant.plantDescription}"></p>
                    <form action="/plants/removeNotes" method="post" class="form-dark">
                        <input hidden name="plantId" th:value="${plantId}">
                        <th:block th:each="note : ${plantNotes}">
                            <th:block th:if="${note.plantId == plant.plantId}">
                                <div class="text-secondary">
                                    <input class="form-check-label" type="checkbox" name="plantNoteIds" th:value="${note.id}" th:text="${'    ' + note.note}">
                                </div>
                            </th:block>
                        </th:block>

                        <div class="text-left">
                            <br>
                            <input type="submit" value="Remove Selected" class="btn btn-secondary"/>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class="float-end">
                        <img th:src="${plant.plantImageURL}" height="300" width="300"></img>
                    </div>
                </div>
            </div>
        </div>

        <form method="post" action="/plants/addnote" class="form-dark">
            <div class="form-group">
                <label class="form-dark" th:for="plantNote">Enter New Note</label>
                <input class="form-control form-dark bg-secondary text-white" name="plantNote" th:value="${plantNote}" />
            </div>
            <input hidden name="plantId" th:value="${plantId}" />
            <div class="text-center">
                <br>
                <input type="submit" value="Add New Note" class="btn btn-secondary"/>
                <a href="/plants" class="btn btn-secondary">Exit</a>
            </div>
        </form>
    </div>
    <div class="col-lg-1"></div>
</div>


</body>
</html>