<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>


<body class="bg-dark">
<div th:replace="fragments :: navbar"></div>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 border border-secondary rounded">
        <div class="row m-2">
            <form method="post" class="form-dark" action="/plants/updatePlant">
                <input hidden name="plantId" th:value="${plant.plantId}"/>
                <div class="form-group">
                    <br>
                    <label th:for="plantName" class="text-secondary">Plant Name</label>
                    <input class="form-control bg-secondary text-white" name="plantName" th:value="${plant.plantName}" />
                </div>
                <div class="form-group">
                    <br>
                    <label th:for="plantLocation" class="text-secondary">Plant Location</label>
                    <input class="form-control bg-secondary text-white" name="plantLocation" th:value="${plant.plantLocation}" >
                </div>
                <div class="form-group">
                    <br>
                    <label th:for="plantDescription" class="text-secondary">Plant Description</label>
                    <input class="form-control bg-secondary text-white" name="plantDescription" th:value="${plant.plantDescription}" />
                </div>
                <div class="form-group">
                    <br>
                    <label th:for="plantImg" class="text-secondary">URL for plant image</label>
                    <input class="form-control bg-secondary text-white" name="plantImageURL" th:value="${plant.plantImageURL}" />
                </div>
                <br>
                <div class="row m-2">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-4 text-center">
                        <input type="submit" value="Update Plant" class="btn btn-secondary">
                        <a href="/plants/edit" class="btn btn-secondary">Cancel</a>
                        <a th:href="@{/plants/delete/{ID}(ID=${plant.plantId})}" class="btn btn-warning" onclick="return confirm('Confirm plant deletion.  This action cannot be undone!')">Delete</a>
                    <div class="col-lg-4"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

</body>
</html>