<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="bg-dark">
<div th:replace="fragments :: navbar"></div>

<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="text-center">
            <h1 class="text-white"  th:text="${recipe.recipeName}"></h1>
            <h4 class="text-white" th:text="${recipe.recipeDescription}"></h4>
        </div>
        <div class="row">
            <div class="col-sm-3 border border-white rounded m-2">
                <p class="text-white" th:each="ingredient : ${recipeIngredients}" th:text="${ingredient.ingredientAmount + ' ' + ingredient.recipeUOM.displayName + ' ' + ingredient.ingredientName}"></p>
            </div>
            <div class="col border border-white rounded m-2">
                <p class="text-white" >Recipe Steps go in this div!</p>
            </div>
        </div>

    </div>
    <div class="col-sm-1"></div>
</div>

<div class="row align-items-center">
    <div class="col-sm text-center">
    </div>
    <div class="col-sm-5 border border-white rounded text-center m-2">
        <form method="post">
            <div class="row justify-content-md-center">
                <div class="col-sm-2 form-group">
                    <label for="ingredientAmount" class="text-white">Amount</label>
                    <input type="number"  step="any" class="form-control bg-secondary text-white" id="ingredientAmount" name="ingredientAmount"/>
                    <br>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="ingredientUOM" class="text-white">UOM</label>
                    <select class="form-control bg-secondary text-white" id="ingredientUOM" name="ingredientUOM">
                        <option th:each="U : ${UOM}" th:value="${U}" th:text="${U.displayName}"></option>
                    </select>
                    <br>
                </div>
                <div class="col-sm form-group">
                    <label for="ingredientId" class="text-white">Ingredient</label>
                    <select class="form-control bg-secondary text-white" id="ingredientId" name="ingredientId">
                        <option th:each="ingredient : ${ingredients}" th:value="${ingredient.ingredientId}" th:text="${ingredient.ingredientName}"></option>
                    </select>
                    <br>
                </div>
            </div>
            <div class="text-center">
                <input type="submit" value="Add Ingredient" class="btn btn-secondary">
                <a href="/recipes/addIngredient" class="btn btn-secondary">Create Ingredient</a>
            </div>
            <br>
        </form>
    </div>
    <div class="col-sm text-center">
    </div>
</div>
</body>
</html>