<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <script src="jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="undefined" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <script type="text/javascript" th:src="@{/script.js}"></script>
    <title th:text="${title}" class="text-center">Default Title</title>
</head>

<body>


<!--  Drop down navbar  -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand abs"><a class="text-decoration-none text-white" href="/">Ryan's Test Project  &#128576;</a></span>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <div class="dropdown">
                        <button class="btn btn-dark text-white dropdown-toggle " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="h6">Plants</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="/plants">Plant List</a></li>
                            <li><a class="dropdown-item" href="/plants/add">Add Plant</a></li>
                            <li><a class="dropdown-item" href="/plants/edit">Edit Plant</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark text-white dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="h6">Projects</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item" href="#">Project List (Not implemented)</a></li>
                            <li><a class="dropdown-item" href="#">Add Project (Not implemented)</a></li>
                            <li><a class="dropdown-item" href="#">Edit Project (Not implemented)</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark text-white dropdown-toggle " type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="h6">Recipes</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
                            <li><a class="dropdown-item" href="#">Recipe List (Not implemented)</a></li>
                            <li><a class="dropdown-item" href="#">Add Recipe (Not implemented)</a></li>
                            <li><a class="dropdown-item" href="#">Edit Recipe (Not implemented)</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <span class="h5 text-white" th:text="${username}">User Name</span>
        <span class="h5 text-white"><a th:href="@{/{log}(log=${login})}" th:text="${'&nbsp;' + login}" class="text-decoration-none text-warning">Default</a></span>
    </div>
</nav>

</body>
</html>